{% extends "base_generic.html" %}



{% block content %}
<div class="begin">
    <h1 class="begin__headline">Дессерты</h1>
</div>

{% load static %}
<div class="cakes">
    {% if cake_list %}
    <ul class="cakes__list">
        {% for cake in cake_list %}
        <li class="cakes__item">
            <a href="{{ cake.get_absolute_url }}" class="cakes__link">
                <div class="cakes__image-wrap">
                    <img src="{% get_static_prefix %}{{ cake.image_id.path }}" alt="{{ cake.image_id.alt }}" class="cakes__image">
                </div>
                <p class="cakes__text">{{ cake.title }}</p>
                <p class="cakes__text">{{ cake.weight }}г</p>
                <div class="cakes__bottom-wrap">
                    <p class="cakes__text">{{ cake.price }}₽</p>
                    <button class="cakes__button">Добавить</button>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="reviews__empty">Извините, тортиков пока нет.</p>
    {% endif %}
</div>

{% endblock %}