{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<div class="cake">
    <img src="{% get_static_prefix %}{{ cake.image_id.path }}" alt="{{ cake.image_id.alt }}" class="cake__image">
    <div class="cake__descrip-wrap">
        <h1 class="cake__headline">{{ cake.title }}</h1>
        <p class="cake__text">{{ cake.weight }}г</p>
        <p class="cake__text">{{ cake.description }}</p>
        <div class="cake__bottom-wrap">
            <p class="cake__price">{{ cake.price }}₽</p>
            <button class="cake__button">Добавить</button>
        </div>
    </div>
</div>

<div class="reviews">
    <h2 class="reviews__headline">Отзывы на {{ cake.title }}</h2>

    {% if cake.review_set %}
    <ul class="reviews__list">
        {% for review in cake.review_set.all %}
        <li class="reviews__item">
            <p class="reviews__text">{{ review.client_id.last_name }} {{ review.client_id.first_name }}</p>
            <p class="reviews__text">{{ review.created_at }}</p>
            <p class="reviews__text">{{ review.review }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="reviews__empty">На этот торт ещё нет отзывов. Вы можете быть первым!</p>
    {% endif %}
</div>

{% endblock %}