/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 15px;
}

tr {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 2rem;
}

input,
select,
textarea {
    font-size: 2rem;
    padding: 0.5rem;
    width: 300px;
}


:root {
    --background-color: #fffaff;
    --background-text: #4a0036;
    --header-background: #a24662;
    --header-color: #f6f6f6;
    --footer-color: #5e5557;
    --headline-color: #7e0032;
    --shadow-color: #000000;
    --delete-color: #a50000;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--background-text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: var(--header-color);
}

.header__wrapper,
.footer__wrapper {
    max-width: 1400px;
    display: flex;
    margin: 30px auto 50px;
    padding: 0 10px;
}

header {
    padding: 1px 0;
    background-color: var(--header-background);
}

.header__wrapper {
    margin: 10px auto 10px;
    justify-content: space-between;
}

.header__left-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.logo__image {
    width: 150px;
}

.navigation__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navigation__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.8rem;
    color: var(--shadow-color);
    align-items: center;
    justify-content: center;
}

.navigation__link {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--header-color);
}

.contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    font-size: 2rem;
    color: var(--header-color);
}

.content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
    gap: 30px;
}

.start {
    width: 100%;
    height: 680px;
    margin: 0 0 50px;
    background-image: url('start_image.jpg');
    background-size: cover;
    background-position: 50% 60%;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
}

.start__wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start__headline {
    width: 550px;
    text-align: end;
    font-size: 8.5rem;
    margin: 200px 0 0;
    color: var(--header-color);
}

.start__link-wrap {
    display: flex;
    width: 550px;
    gap: 10px;
    justify-content: end;
}

.start__link {
    min-width: 200px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 15px 20px;
    color: var(--header-color);
    border: 1px solid var(--header-color);
    border-radius: 5px;
}

.about {
    max-width: 1400px;
    margin: 0 auto 50px;
    display: flex;
    gap: 40px;
}

.about__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__headline,
.contacts__headline {
    color: var(--headline-color);
    font-size: 4rem;
    margin: 50px 0 0;
}

.about__paragraf {
    font-size: 1.7rem;
}

.about__image-wrap {
    display: flex;
    gap: 20px;
}

.about__image {
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.contacts {
    width: 1400px;
    margin: 0 auto 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contacts__bottom-wrap {
    display: flex;
    gap: 100px;
}

.contacts__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__text {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.relations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.relations__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.relations__item {
    display: flex;
}

.relations__link {
    color: var(--background-text);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.relations__image {
    width: 40px;
}

footer {
    padding: 1px 0;
    background-color: var(--footer-color);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.navigation {
    display: flex;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__relations {
    align-items: end;
}

.footer__link-list {
    flex-direction: row;
}

.relations__item {
    color: var(--header-color);
    font-size: 1.5rem;
}

.begin {
    max-width: 1400px;
    margin: 0 auto 50px;
    display: flex;
    align-items: start;
}

.begin__headline,
.reviews__headline {
    color: var(--headline-color);
    font-size: 4rem;
    margin: 30px 0 0;
}

.cakes {
    max-width: 1400px;
    margin: 0 auto 20px;
    display: flex;
}

.cakes__list {
    display: grid;
    grid-template: repeat(auto-fit, minmax(300px, 450px))/repeat(3, 400px);
    column-gap: 100px;
    row-gap: 30px;
}

.cakes__item {
    background-color: var(--header-color);
    box-shadow: 0 0 3px var(--shadow-color);
    border-radius: 10px;
}

.cakes__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cakes__image-wrap {
    width: 100%;
}

.cakes__image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.cakes__text {
    font-size: 3rem;
    color: var(--background-text);
}

.cakes__text:first-of-type {
    margin: 0 10px;
    font-size: 2rem;
}

.cakes__text:nth-of-type(2) {
    margin: 0 10px;
    font-size: 1.6rem;
    color: var(--header-background);
}

.cakes__bottom-wrap {
    width: 100%;
    margin: auto 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cakes__button {
    background-color: var(--header-background);
    color: var(--background-color);
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 0 10px 0;
}

.pagination {
    max-width: 1400px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination__link {
    font-size: 1.5rem;
    color: var(--background-text);
}

.pagination__current {
    font-size: 1.6rem;
    color: var(--background-text);
}

.cake {
    max-width: 1400px;
    margin: 50px auto 50px;
    display: flex;
    gap: 40px;
}

.cake__image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.cake__descrip-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.cake__headline,
.login__headline {
    color: var(--headline-color);
    font-size: 4rem;
}

.cake__text:first-of-type {
    margin: 0 10px;
    font-size: 2.2rem;
    color: var(--header-background);
}

.cake__text:nth-of-type(2) {
    margin: 0 10px;
    font-size: 2.4rem;
    text-align: end;
}

.cake__bottom-wrap {
    margin: auto 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cake__price {
    font-size: 3.3rem;
    color: var(--background-text);
    margin-right: 30px;
}

.cake__button {
    background-color: var(--header-background);
    color: var(--background-color);
    font-size: 2.5rem;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    margin: 0 10px 0;
}

.reviews {
    width: 1400px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reviews__item {
    width: 1000px;
    background-color: var(--header-color);
    box-shadow: 0 0 3px var(--shadow-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.reviews__text:nth-of-type(1) {
    font-size: 2.2rem;
    color: var(--background-text);
}

.reviews__text:nth-of-type(2) {
    font-size: 1.8rem;
    color: var(--header-background);
}

.reviews__text:nth-of-type(3) {
    font-size: 2rem;
    color: var(--background-text);
}

.reviews__empty {
    font-size: 3rem;
    color: var(--background-text);
}

.reviews__horyzontal {
    flex-direction: row;
    gap: 30px;
}

.reviews__image {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.reviews__item {
    display: flex;
    flex-direction: row;
}

.reviews__cake-wrap,
.reviews__review-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login {
    max-width: 1400px;
    margin: 30px auto 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.table {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.table__label {
    border-radius: 15px;
    font-size: 2rem;
    background-color: var(--background-color);
    margin: 30px 0 0;
}

.table__input {
    font-size: 2rem;
    background-color: var(--background-color);
} 

.form__submit {
    background-color: var(--header-background);
    color: var(--background-color);
    font-size: 2.2rem;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
}

.form__reg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    margin: 0;
}

.reviews__link-wrap {
    margin: auto 0 20px;
}

.reviews__link {
    font-size: 2rem;
    background-color: var(--header-background);
    color: var(--header-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.delete {
    background-color: var(--delete-color);
}

.cart {
    width: 1000px;
    margin: 30px auto 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cart__left-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart__right-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__item {
    font-size: 2rem;
}

.cart__link {
    font-size: 2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}