/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
    --background-color: #fffaff;
    --background-text: #4a0036;
    --header-background: #d16f8c;
    --header-color: #f6f6f6;
    --footer-color: #887a7d;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--background-text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: var(--header-color);
}

.header__wrapper,
.content__wrapper,
.footer__wrapper {
    max-width: 1400px;
    display: flex;
    margin: 30px auto 50px;
    padding: 0 10px;
}

header {
    padding: 1px 0;
    background-color: var(--header-background);
}

.header__wrapper {
    margin: 10px auto 10px;
    justify-content: space-between;
}

.header__left-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.logo__image {
    width: 150px;
}

.navigation__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navigation__link {
    font-size: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    font-size: 2rem;
    color: var(--header-color);
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
    gap: 30px;
}

.start {
    width: 99vw;
    height: 680px;
    margin: 0 0 0 -66px;
    background-image: url('start_image.jpg');
    background-size: cover;
    background-position: 50% 60%;
}

.background-tint {
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
  }

.start__headline {
    width: 500px;
    text-align: end;
    font-size: 8rem;
    margin: 200px 0 0 66px;
    color: var(--header-color);
}

.start__link-wrap {
    display: flex;
    gap: 10px;    
    margin: 20px 0 0 256px;
}

.start__link {
    min-width: 150px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 15px 20px;
    color: var(--header-color);
    border: 1px solid var(--header-color);
    border-radius: 5px;
}

.relations__image {
    width: 50px;
    height: 50px;
}