{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p class="reviews__empty">Пожалуйста, введите (и подтвердите) новый пароль.</p>
        <form  class="login__form" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table class="table">
                <tr class="table__row">
                    <td>{{ form.new_password1.errors }}
                        <label class="table__label" for="id_new_password1">Новый пароль:</label></td>
                    <td class="table__input">{{ form.new_password1 }}</td>
                </tr>
                <tr class="table__row">
                    <td>{{ form.new_password2.errors }}
                        <label class="table__label" for="id_new_password2">Подтвердите пароль:</label></td>
                    <td class="table__input">{{ form.new_password2 }}</td>
                </tr>
            </table>
            <input class="form__submit" type="submit" value="Поменять пароль">
        </form>
    {% else %}
        <h1 class="login__headline">Изменение пароля не удалось!</h1>
        <p class="reviews__empty">Ссылка для изменения пароля была некорректной, возможно потому что она уже существует. Пожалуйста, перейдите по новой ссылке.</p>
    {% endif %}

{% endblock %}